* {
    margin: 0;
    font-size: 5vh;
    text-align: center;
}

body {
    display: grid;

    grid-template: "... ... ... ... ....... ..." 4vh
    "... ....... navigation ....... quit    ..." 6vh
    "... ....... .......... ....... ....... ..." 2vh
    "... input   input      input   input   ..." 8vh
    "... ....... .......... ....... ....... ..." 2vh
    "... paste   paste      paste   paste   ..." 10vh
    "... ....... .......... ....... ....... ..." 2vh
    "... message message    message message ..." 10vh
    "... ....... .......... ....... ....... ..." 2vh
    "... result  result     result  result  ..." auto
    "... ....... .......... ....... ....... ..." 2vh
    /3vh 20vh auto 5vh 15vh 3vh;
}

#navigation {
    grid-area: navigation;
}

button {
    background-color: white;
}

#quit {
    font-size: 4vh;

    grid-area: quit;
}

input {
    font-size: 4vh;

    grid-area: input;
}

#paste {
    grid-area: paste;
}

#message {
    visibility: hidden;

    grid-area: message;
}

#result {
    padding-left: 20vw;
    text-align: start;

    grid-area: result;
}
